.elementor-element.elementor-element-fb9609e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 4em;
    --padding-bottom: 4em;
    --padding-left: 1em;
    --padding-right: 1em;
}

.elementor-element.elementor-element-785372a {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
}

.elementor-element.elementor-element-df3132b {
    text-align: center;
}

.elementor-element.elementor-element-df3132b .elementor-heading-title {
    font-family: var(--e-global-typography-4844ec4-font-family), Sans-serif;
    font-size: var(--e-global-typography-4844ec4-font-size);
    font-weight: var(--e-global-typography-4844ec4-font-weight);
    text-transform: var(--e-global-typography-4844ec4-text-transform);
    line-height: var(--e-global-typography-4844ec4-line-height);
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-icon i {
    color: var(--e-global-color-98b380f);
    transition: color 0.3s;
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-98b380f);
    transition: fill 0.3s;
}

.elementor-element.elementor-element-8d7f8c5 {
    --e-icon-list-icon-size: 12px;
    --icon-vertical-offset: 0px;
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-icon {
    padding-right: 5px;
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
    transition: color 0.3s;
}

.elementor-element.elementor-element-8d7f8c5 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-98b380f);
}


@media(min-width:768px) {
    .elementor-element.elementor-element-785372a {
        --width: 60%;
    }
}

@media(max-width:1024px) {
    .elementor-element.elementor-element-df3132b .elementor-heading-title {
        font-size: var(--e-global-typography-4844ec4-font-size);
        line-height: var(--e-global-typography-4844ec4-line-height);
    }


}

@media(max-width:767px) {
    .elementor-element.elementor-element-df3132b .elementor-heading-title {
        font-size: var(--e-global-typography-4844ec4-font-size);
        line-height: var(--e-global-typography-4844ec4-line-height);
    }

}