

.elementor-element.elementor-element-33cf04f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 4em;
    --padding-bottom: 4em;
    --padding-left: 1em;
    --padding-right: 1em;
}

 .elementor-element.elementor-element-ed23bdf {
    --display: grid;
    --e-con-grid-template-columns: repeat(4, 1fr);
    --e-con-grid-template-rows: repeat(2, 1fr);
    --grid-auto-flow: row;
    --overflow: hidden;
    --background-transition: 0.3s;
}

 .elementor-element.elementor-element-4c73301 {
    --display: flex;
    --gap: 0px 0px;
    --overflow: hidden;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: var(--e-global-color-1f51f06);
    --border-color: var(--e-global-color-1f51f06);
    --border-radius: 10px 10px 10px 10px;
}

 .elementor-element.elementor-element-4c73301,
 .elementor-element.elementor-element-4c73301::before {
    --border-transition: 0.3s;
}

 .elementor-element.elementor-element-2afd3a3 {
    --display: flex;
    --gap: 5px 5px;
    --background-transition: 0.3s;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

 .elementor-element.elementor-element-2afd3a3:not(.elementor-motion-effects-element-type-background),
 .elementor-element.elementor-element-2afd3a3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: radial-gradient(at bottom right, var(--e-global-color-1f51f06) 0%, var(--e-global-color-primary) 100%);
}

 .elementor-element.elementor-element-2afd3a3,
 .elementor-element.elementor-element-2afd3a3::before {
    --border-transition: 0.3s;
}

 .elementor-element.elementor-element-ceb1803 {
    text-align: center;
}

 .elementor-element.elementor-element-ceb1803 .elementor-heading-title {
    color: var(--e-global-color-secondary);
}

 .elementor-element.elementor-element-e8f7513 {
    text-align: center;
}

 .elementor-element.elementor-element-e8f7513 .elementor-heading-title {
    color: var(--e-global-color-98b380f);
}

 .elementor-element.elementor-element-9c843ad {
    --spacer-size: 10px;
}

 .elementor-element.elementor-element-3aff0f5 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 18px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

 .elementor-element.elementor-element-3aff0f5 .elementor-widget-container {
    text-align: center;
}

 .elementor-element.elementor-element-3aff0f5 .elementor-social-icon {
    background-color: var(--e-global-color-accent);
}

 .elementor-element.elementor-element-3aff0f5 .elementor-social-icon i {
    color: var(--e-global-color-secondary);
}

 .elementor-element.elementor-element-3aff0f5 .elementor-social-icon svg {
    fill: var(--e-global-color-secondary);
}

 .elementor-element.elementor-element-3aff0f5 .elementor-social-icon:hover {
    background-color: var(--e-global-color-98b380f);
}

 .elementor-element.elementor-element-3aff0f5 .elementor-social-icon:hover i {
    color: var(--e-global-color-primary);
}

 .elementor-element.elementor-element-3aff0f5 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-primary);
}

@media(max-width:1024px) {
     .elementor-element.elementor-element-ed23bdf {
        --e-con-grid-template-columns: repeat(2, 1fr);
        --grid-auto-flow: row;
    }
}

@media(max-width:767px) {
     .elementor-element.elementor-element-ed23bdf {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
    }
}