.elementor-element.elementor-element-4f65613 {
    --icon-box-icon-margin: 15px;
}

 .elementor-element.elementor-element-4f65613 .elementor-icon-box-title {
    margin-bottom: 2px;
    color: var(--e-global-color-secondary);
}


.elementor-element.elementor-element-4f65613.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-98b380f);
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
}

 .elementor-element.elementor-element-4f65613.elementor-view-framed .elementor-icon,
 .elementor-element.elementor-element-4f65613.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-98b380f);
    color: var(--e-global-color-98b380f);
    border-color: var(--e-global-color-98b380f);
}

 .elementor-element.elementor-element-4f65613.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

 .elementor-element.elementor-element-4f65613 .elementor-icon {
    font-size: 22px;
}

 .elementor-element.elementor-element-4f65613 .elementor-icon-box-description {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-1a9e60a-font-family), Sans-serif;
    font-size: var(--e-global-typography-1a9e60a-font-size);
    font-weight: var(--e-global-typography-1a9e60a-font-weight);
    line-height: var(--e-global-typography-1a9e60a-line-height);
}


@media(max-width:1024px) {
    .elementor-element.elementor-element-4f65613 .elementor-icon-box-description {
       font-size: var(--e-global-typography-1a9e60a-font-size);
       line-height: var(--e-global-typography-1a9e60a-line-height);
   }
}

@media(max-width:767px) {
    .elementor-element.elementor-element-4f65613 .elementor-icon-box-description {
       font-size: var(--e-global-typography-1a9e60a-font-size);
       line-height: var(--e-global-typography-1a9e60a-line-height);
   }

}