
.elementor-element.elementor-element-4377ff1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 4em;
    --padding-bottom: 4em;
    --padding-left: 1em;
    --padding-right: 1em;
}


.elementor-element.elementor-element-cad3d17 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-element.elementor-element-cb24d9f {
    --display: flex;
    --overflow: hidden;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0em;
    --padding-bottom: 0em;
    --padding-left: 0em;
    --padding-right: 4em;
}



.elementor-element.elementor-element-4e36f2a .elementskit-accordion.accoedion-primary .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"],
.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-header>.elementskit-btn-link[aria-expanded=true],
.elementor-element.elementor-element-4e36f2a .elementskit-accordion.floating-style .elementskit-card .elementskit-btn-link[aria-expanded="true"] {
   background-color: transparent;
   background-image: linear-gradient(180deg, var(--e-global-color-1f51f06) 0%, var(--e-global-color-primary) 100%);
}

.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
   background-color: transparent;
   font-family: var(--e-global-typography-1a9e60a-font-family), Sans-serif;
   font-size: var(--e-global-typography-1a9e60a-font-size);
   font-weight: var(--e-global-typography-1a9e60a-font-weight);
   line-height: var(--e-global-typography-1a9e60a-line-height);
   color: var(--e-global-color-secondary);
   background-image: linear-gradient(180deg, var(--e-global-color-1f51f06) 0%, var(--e-global-color-primary) 100%);
   border-style: none;
   border-radius: 10px 10px 10px 10px;
   padding: 12px 32px 12px 32px;
}

.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body,
.elementor-element.elementor-element-4e36f2a .accordion.floating-style .elementskit-card-body {
   background-color: transparent;
   background-image: linear-gradient(0deg, var(--e-global-color-1f51f06) 0%, var(--e-global-color-primary) 100%);
}

.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"] {
   color: var(--e-global-color-secondary);
   border-style: none;
   border-radius: 10px 10px 0px 0px;
}

.elementor-element.elementor-element-4e36f2a .elementskit-accordion.curve-shape .elementskit-card-header>.elementskit-btn-link[aria-expanded=true] {
   color: var(--e-global-color-secondary);
}

.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body p {
   color: var(--e-global-color-secondary);
}

.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body {
   color: var(--e-global-color-secondary);
   border-radius: 0px 0px 10px 10px;
   padding: 12px 32px 24px 32px;
}

.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body p,
.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body {
   font-family: var(--e-global-typography-text-font-family), Sans-serif;
   font-size: var(--e-global-typography-text-font-size);
   font-weight: var(--e-global-typography-text-font-weight);
   line-height: var(--e-global-typography-text-line-height);
}


.elementor-element.elementor-element-6b988ff {
    --display: flex;
    --overflow: hidden;
    --background-transition: 0.3s;
}

.elementor-element.elementor-element-ee58599>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0em 0em 2em 2em;
}

 .elementor-element.elementor-element-ee58599 img {
    border-radius: 10px 10px 10px 10px;
}





.elementor-element.elementor-element-532ab9a {
    --display: flex;
    --position: absolute;
    --gap: 5px 5px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: var(--e-global-color-1f51f06);
    --border-color: var(--e-global-color-1f51f06);
    --border-radius: 10px 10px 10px 10px;
    --margin-top: 0em;
    --margin-bottom: 0em;
    --margin-left: 0em;
    --margin-right: 0em;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
    bottom: 0px;
}

 .elementor-element.elementor-element-532ab9a:not(.elementor-motion-effects-element-type-background),
 .elementor-element.elementor-element-532ab9a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

 .elementor-element.elementor-element-532ab9a,
 .elementor-element.elementor-element-532ab9a::before {
    --border-transition: 0.3s;
}

body:not(.rtl)  .elementor-element.elementor-element-532ab9a {
    left: 0px;
}

body.rtl  .elementor-element.elementor-element-532ab9a {
    right: 0px;
}

.elementor-element.elementor-element-17ee975 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --background-transition: 0.3s;
}
.elementor-element.elementor-element-acd45c9 .elementor-heading-title {
    color: var(--e-global-color-98b380f);
    font-family: var(--e-global-typography-4844ec4-font-family), Sans-serif;
    font-size: var(--e-global-typography-4844ec4-font-size);
    font-weight: var(--e-global-typography-4844ec4-font-weight);
    text-transform: var(--e-global-typography-4844ec4-text-transform);
    line-height: var(--e-global-typography-4844ec4-line-height);
}


@media(max-width:1024px) {
    .elementor-element.elementor-element-cad3d17 {
       --flex-direction: column-reverse;
       --container-widget-width: 100%;
       --container-widget-height: initial;
       --container-widget-flex-grow: 0;
       --container-widget-align-self: initial;
       --flex-wrap-mobile: wrap;
   }
   .elementor-element.elementor-element-cb24d9f {
    --padding-top: 2em;
    --padding-bottom: 0em;
    --padding-left: 0em;
    --padding-right: 0em;
}
.elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
    font-size: var(--e-global-typography-1a9e60a-font-size);
    line-height: var(--e-global-typography-1a9e60a-line-height);
}

 .elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body p,
 .elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
}
.elementor-element.elementor-element-acd45c9 .elementor-heading-title {
    font-size: var(--e-global-typography-4844ec4-font-size);
    line-height: var(--e-global-typography-4844ec4-line-height);
}
}


@media(max-width:767px) {


    .elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-header>.elementskit-btn-link {
       font-size: var(--e-global-typography-1a9e60a-font-size);
       line-height: var(--e-global-typography-1a9e60a-line-height);
   }

    .elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body p,
    .elementor-element.elementor-element-4e36f2a .elementskit-accordion .elementskit-card-body {
       font-size: var(--e-global-typography-text-font-size);
       line-height: var(--e-global-typography-text-line-height);
   }
   .elementor-element.elementor-element-ee58599>.elementor-widget-container {
    padding: 0em 0em 1em 1em;
}

 .elementor-element.elementor-element-ee58599 img {
    height: 450px;
    object-fit: cover;
    object-position: center center;
}

 .elementor-element.elementor-element-532ab9a {
    --width: 90%;
    --gap: 10px 10px;
}

 .elementor-element.elementor-element-17ee975 {
    --gap: 5px 15px;
}

 .elementor-element.elementor-element-acd45c9 .elementor-heading-title {
    font-size: var(--e-global-typography-4844ec4-font-size);
    line-height: var(--e-global-typography-4844ec4-line-height);
}

}

@media(min-width:768px) {
    .elementor-element.elementor-element-532ab9a {
       --width: 85%;
   }

}